* {
    color: black;
    margin: 0;
    padding: 0;
}

/* chart */
.chart_holder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.chart_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 350px;
    margin: 5px 5px;
    border: 1px solid lightgray;
}

.chart_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 580px;
    height: 40px;
}

.chart_body {
    width: 600px;
    height: 310px;
}

.chart_selection {
    display: flex;
}

.chart_selection > select {
    margin-left: 10px;
}

/* predict */
.predict_frame {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 310px;
}

.predict_header {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 120px;
    padding-left: 10px;
}

.predict_row {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 600px;
    height: 30px;
}

.predict_input {
    display: flex;
    margin-right: 10px;
}

.predict_input input {
    margin-left: 10px;
    width: 50px;
    height: 20px;
}

.predict_input select {
    margin-left: 10px;
}

.predict_title {
    font-size: 18px;
    font-weight: bold
}

.predict_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 190px;
}

.predict_body.hide {
    display: none;
}

.predict_result {
    font-size: 40px;
}