* {
    box-sizing: border-box;
    color: black;
    margin: 0;
    padding: 0;
}

.hide {
    display: none !important;
}

/* chart */
.chart_category {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.chart_category:first-child {
    margin-top: 5px;
}

.chart_drawer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    user-select: none;
}
.chart_drawer:hover {
    background-color: lightgray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.chart_holder {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
}

.chart_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 350px;
    margin: 5px 5px;
    border: 1px solid lightgray;
}

.chart_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 580px;
    height: 40px;
}

.chart_body {
    width: 600px;
    height: 310px;
}

.chart_selection {
    display: flex;
}

.chart_selection > select {
    margin-left: 10px;
}

/* predict */
.predict_frame {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 310px;
}

.predict_header {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 120px;
    padding-left: 10px;
}

.predict_row {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 600px;
    height: 30px;
}

.predict_input {
    display: flex;
    margin-right: 10px;
}

.predict_input input {
    margin-left: 10px;
    width: 50px;
    height: 20px;
}

.predict_input select {
    margin-left: 10px;
}

.predict_title {
    font-size: 18px;
    font-weight: bold
}

.predict_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 190px;
}

.predict_result {
    font-size: 40px;
}

/* tooltip */
.tooltip_frame {
    position: absolute;
    display: none;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    z-index: 2;
}
.tooltip_frame.active {
    display: flex;
}

.tooltip_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    width: auto;
    min-height: 20px;
    height: auto;
}

.tooltip_title {
    width: 145px;
    font-size: 14px;
    color: white;
}

.tooltip_color {
    width: 20px;
    height: 20px;
    border: 2px solid black;
}

.tooltip_body {
    width: 170px;
    height: 30px;
    padding-top: 10px;
    color: white;
    font-size: 14px;
}