<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>차트</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
    <link rel="stylesheet" href="/css/jqcloud.css" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
    <script src="https://d3js.org/d3.v7.js"></script>

    <script src="/js/jquery.js" defer></script>
    <script src="/js/jqcloud.js" defer></script>
    <script type="module" src="/js/chartBase.js"></script>
    <script type="module" src="/js/jschart.js"></script>
    <script type="module" src="/js/d3ext.js"></script>
    <script type="module" src="/js/eda.js"></script>

    <script type="module" src="js/script2.js" defer></script>
</head>
<body>
    <div class="dataset_header">
        <div class="dataset_label">데이터셋 선택</div>
        <select id="dataset_select"></select>
    </div>
    <div class="body_frame"></div>
</body>
</html>